@charset "utf-8";

/* 2016-11-16 HJD */

#map {
    height: 1500px;
    width: 1250px;
}

/* fillOpacity under leaflet control */
.precincts { 
    stroke: black;
    stroke-width: 2;
    stroke-dasharray: 2 4;
}

.wards {
    stroke: black;
    stroke-width: 3;
    fill: none;
}

.info {
    padding: 6px 8px;
    background: white;
    opacity: 0.9;
    border-radius: 5px;
}

.legend {
    line-height: 18px;
    color: black;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.6;
}

.leaflet-tooltip.precinct-label {
    background-color: transparent;
    box-shadow: none;
    border: none;
    font-size: xx-small;
    font-weight: bold;
}